<div class="row" id="HB_users-page">
	<div class="col-md-12">
		<div class="row-fluid">
			<div>
				<form class="input-append" name="form" id="HB_new-user-form">
					<input 
						id="HB_new-user-form-input"
						ng-model="newUser.email"
						type="email"
						required/>
						<input 
						id="HB_new-user-form-date"
						ng-model="newUser.hireDate"
						datepicker
						/>
					<button id="HB_new-user-form-button"
						ng-disabled="form.$invalid"
						ng-click="addNewUser()">+</button>
			</form>
		</div>
		<div class="">
			<table class="table">
				<thead>
					<tr>
						<th id="HB_user-table-header-email">
							users
						</th>
						<th id="HB_user-table-header-hireDate">
							hired
						</th>
						<th id="HB_user-table-header-actions">
							actions
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users">
						<td id="RM_user-email-{{$index+1}}">
							<span class="hb-user-email">
								
								<inputeditable id="RM_node-name" text="user.email"></inputeditable>
							</span>
						</td>
						<td id="RM_user-date-{{$index+1}}">
							<span class="hb-user-date">
								{{user.hireDate  | date:'dd MMM yyyy'}}
							</span>
						</td>
						<td id="RM_user-date-{{$index+1}}">
							<button class="hb-update-button">update</button>
							<button class="hb-delete-button" ng-click="deleteUser(user.id)">delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>